div.container#header
	div.burger.visible-xs.show-menu
		img(src="img/icons/list.svg")
	div.logo
		a(href="index.html")
			img(src="img/logobrand.png")
	//- div.mail.visible-xs mail
	div.standar-menu.hidden-xs
		ul
			li 
				a(href="index.html") Inicio
			li.show-menu 
				a(hred="#") Productos
			li
				a(href="refacciones.html") Refacciones
			li
				a(href="servicios.html") Servicios
			li 
				a(href="quienes-somos.html") ¿Quiénes somos?
			li
				a(href="contacto.html") Contacto