doctype html
html
	head
		title Certes plantas electricas
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width, user-scalable=no")
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")

		link(rel="stylesheet", type="text/css", href="css/index.css")
	body 
		header
			include components/header/index.jade
		main.main
			include components/movil-menu/index.jade
			div.banner-product
				div.container
					h1 Refacciones
			include the-product.jade
			section.container.home-view
				article.text-left
						div.titles
							h3 Presión y vacio
							//- p Asistencia de servicio 24 horas del día, 7 días de la semana durante los 365 días del año.
						div.flexbox
							div.marcas
								p.text-left Marcadores mecánicos o eléctricos, marcadores para computadoras electrónicas y senders para aceite o gas.
								p Proteja a su motor de una baja presión de aceite y de las consecuencias económicas y en desempeño que pueda traer, como un motor desvielado.
								p El equipo Murphy le proporciona las siguientes características:
								ul
									li Combina el monitoreo con un interruptor de límite.
									li El interruptor de límite para presión baja es visible y ajustable en campo (en la mayoría de los modelos).
									li El interruptor puede activar alarmas y/o paros del equipo.
									li Excede las normas SAE.
									li Cuerpo de Policarbonato resistente a la corrosión con brida de montaje de acero incluida.
									li El Bisel estándar, acero inoxidable platinado (lo que lo hace más duradero y eficiente).
									li La aguja es de plata niquelada para su continuidad y resistencia a la corrosión.
									li El lente es de policarbonato de alto impacto.
									li Diafragma de Berilio de Cobre.
								br
							div.video
								img(src="img/presion.jpg")
				//- 
				article.text-left
						div.titles
							h3 Nivel de fluidos
							//- p Asistencia de servicio 24 horas del día, 7 días de la semana durante los 365 días del año.
						div.flexbox.text-left
							div.marcas
								p Deales para el control, protección y mantenimiento de niveles de combustible, aceite y agua en su equipo.

								p Interruptor de nivel de bajo limite.
								p Opera por medio de un flotador de laton, cuerpo de aluminio de poliuretano, lente policarbonato, con interruptor SPDT.
								ul
									li Monitorea el nivel de refrigerante, aceite lubricante, combustible y fluido hidráulico.
									li Disponible en modelo a prueba de explosión.
								p Indicador de nivel con interruptor por bajo y alto nivel de aceite, flotador de bronce. Por medio de la mirilla se pueden ver las condiciones del aceite.
								ul
									li Checa el nivel de lubricante sin parar el motor.
									li Ideal para motores, bombas y compresores.


							div.video
								img(src="img/fluido.jpg")
				article.text-left
						div.titles
							h3 Tiempo, vibración y velocidad

							//- p Asistencia de servicio 24 horas del día, 7 días de la semana durante los 365 días del año.
						div.flexbox.text-left
							div.marcas
								p Tacómetros análogos y digitales, sensores de impacto y vibración, sensores con protección de sobrevelocidad.

								p Tacómetro analógico con horometro, alimentado por señal de sensor magnético.
								ul
									li Sensa una señal por sensor magnético o alternador.
									li Lectura analógica de alta visibilidad.
									li Movimiento de aire.
									li Fácil calibración.
									li Iluminación a través de la carátula.
									li Energizado por 12 VCD y para sistemas de 24 VCD,
									li Disponible el convertidor de 24 a 12 VCD.

								p Tacómetro digital de fácil calibración. Su alta exactitud es el resultado de usar una pantalla de cristal de cuarzo con componentes digitales electrónicos de estado sólido.
								ul
									li Exactitud de + - 1 RPM
									li Pantalla de cristal líquido fácil de leer.
									li Iluminación posterior para lectura nocturna (en algunos modelos)
							div.video
								img(src="img/vibracion2.jpg")
				article.text-left
						div.titles
							h3 Interruptores magnéticos y anunciadores

							//- p Asistencia de servicio 24 horas del día, 7 días de la semana durante los 365 días del año.
						div.flexbox.text-left
							div.marcas
								p Switchs para sistemas de protección de motor y anunciadores de falla de arranque, falla por temperatura, presión de aceite o niveles de líquidos.

								p Los interruptores magnéticos y los anunciadores Murphy son nervio central que traducen las operaciones de contactos de los SWICHGAGE para operar una alarma o paro del equipo.
								ul
									li Dispositivos tipo relevador disparados eléctricamente.
									li Operan desde suministro de batería, 120VCA, magnetos convencionales e igniciones del tipo descarga de capacitor.
									li Se pueden usar en motores de combustión interna o motores eléctricos.
							div.video
								img(src="img/interruptores.jpg")
				article.text-left
						div.titles
							h3 Tableros

							//- p Asistencia de servicio 24 horas del día, 7 días de la semana durante los 365 días del año.
						div.flexbox.text-left
							div.marcas
								p CDiseñamos e instalamos tableros de control para cualquier tipo de maquinaria o proceso. Ayuda a la prevención de daños en los motores, periodos de inactivación y reparaciones costosas, para cualquier unidad móvil como camiones, autobuses, montacargas, etc.

								p Se fabrican de acuerdo a sus necesidades.
							div.video
								img(src="img/tableros.jpg")
				article.text-left
						div.titles
							h3 Controladores

							//- p Asistencia de servicio 24 horas del día, 7 días de la semana durante los 365 días del año.
						div.flexbox.text-left
							div.marcas
								p Para motores diesel, compresores e incluso plantas eléctricas.

								p Controlador automático para motores, ideal para generadores pequeños o paneles para motores. Diseño compacto que operan en 12 o 24 vcd. Protege por:
								ul

								li Baja presión.
								li Alta temperatura de agua.
								li Sobre-marcha.
								li Sobre-Velocidad.

								p Sistema sofisticado de control y monitoreo electrónico de las funciones vitales de su equipo.
								ul

								li Soporta monitoreo e motores mecánicos y electrónicos basados en J1939.
								li Arranque / Paro automático.
								li Con historial de paros
								li Alarma y paro indicados por LEds al momento que ocurran.
								li Parámetros ajustables en campo.
								li Amplio rango de temperatura de operación.
								li Reloj en tiempo real en forma de 24 horas.
								li Listo para Internet usando modbus RTU con equipo auxiliar.
							div.video
								img(src="img/controlador2.jpg")
				article.text-left
						div.titles
							h3 Válculas

							//- p Asistencia de servicio 24 horas del día, 7 días de la semana durante los 365 días del año.
						div.flexbox.text-left
							div.marcas
								p Válvulas check o controladas neumáticamente o eléctricamente para el corte de combustible	diesel o gas.

								p Para motores a base de diesel, una válvula normalmente cerrada que se abre cuando es suministrada corriente de la batería a través de un interruptor magnético. Selección entre modelos de 12 o 24 VCD.
							div.video
								img(src="img/valvula.jpg")



			footer
				include components/footer/index.jade

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",crossorigin="anonymous")
		script(src="js/underscore-min.js")
		script(src="js/app.js")
		script(type='text/javascript').
			draw_the_Product()