
//- template produto
section.container.product-home.hidden
	article.the-product
		div.titles
			h3 
			p 
		div.product_box
			div.text
			div.url.visible-xs
				h4 Consulte m치s informaci칩n.
				div.links
					a(href="",target="_blank").url1
					a(href="",target="_blank").url2
					a(href="",target="_blank").url3
			div.photo
				img(class="img-responsive")
				div.url.hidden-xs
					h4 Consulte m치s informaci칩n.
					div.links
						a(href="",target="_blank").url1
						a(href="",target="_blank").url2
						a(href="",target="_blank").url3