div.container
	div.one
		img(src="img/logobrand.png")
		p Libramiento Benito Juarez #6301 Int. 32A Col. Bugambilias, Parque industrial La Costa.
	div.two
		h3 Llámenos
		hr
		span 
			strong Culiacán
		br
		span +52 (667) 716 6848
		br
		br
		span 
			strong Los Cabos
		br
		span +52 (624) 189 1191
	div.three
		p CERTIFICADOS CON EXCELENCIA EN ESTADOS UNIDOS PRESENCIA EN TODO EL NOROESTE DEL PAÍS.
		a(href="#") Aviso de Privacidad
		br
		span © 2016 Sertes
		br
		span Design in proyeccione