div.mobil-menu
	div.first-view
		h4 Productos
		div.items-wrap
			div 
				div.item(data-dbid="1")
					//- div.icon
					img(src="img/icons/loading.svg")
					p.name Plantas electricas Portatiles
			div 
				div.item(data-dbid="2")
					//- div.icon
					img(src="img/icons/home.svg")
					p.name Plantas electricas Recidenciales
			div 
				div.item(data-dbid="3")
					//- div.icon
					img(src="img/icons/shop.svg")
					p.name Plantas electricas Comerciales
			div 
				div.item(data-dbid="3")
					//- div.icon
					img(src="img/icons/shop.svg")
					p.name Plantas electricas Industriales
			div 
				div.item(data-dbid="4")
					//- div.icon
					img(src="img/icons/battery_2_3.svg")
					p.name UPS
			div 
				div.item(data-dbid="5")
					//- div.icon
					img(src="img/icons/repeat_2.svg")
					p.name Climas de presisión
			div 
				div.item(data-dbid="6")
					//- div.icon
					img(src="img/icons/square_dashed.svg")
					p.name Smart Solution

			div 
				div.item(data-dbid="7")
					//- div.icon
					img(src="img/icons/plug.svg")
					p.name Acondicionadores de voltage
			div 
				div.item(data-dbid="8")
					//- div.icon
					img(src="img/icons/grid_1.svg")
					p.name Sistemas fotovoltaicos	

			div 
				div.item(data-dbid="10")
					//- div.icon
					img(src="img/icons/equalizer.svg")
					p.name Controladores
			div 
				div.item(data-dbid="21")
					//- div.icon
					img(src="img/icons/cog.svg")
					p.name Bombas de desague
			div 
				div.item
					//- div.icon
					img(src="img/icons/cog.svg")
					p.name Unidades de distribución (PDU)
		ul.visible-xs
			li
				a(href="quienes-somos.html")¿Quienes somos?
			li 
				a(href="servicios.html") Servicios
			li 
				a(href="refacciones.html") Refacciones
			li 
				a(href="contacto.html") Contácto
	div.second-view.oculto
		h4 Productos
		small Plantas Electricas Portatiles
		div.back.visible-xs
			img(src="img/icons/close.svg")
		div.items
			//- span Gasolina
			//- ul
			//- 	li
			//- 		a(href="#") planta electrica uno
			//- 	li
			//- 		a(href="#") planta electrica uno
			//- 	li
			//- 		a(href="#") planta electrica uno
			//- 	li
			//- 		a(href="#") planta electrica uno
			//- 	li
			//- 		a(href="#") planta electrica uno
			//- 	li
			//- 		a(href="#") planta electrica uno
			//- span Gas
			//- ul
			//- 	li
			//- 		a(href="#") planta electrica uno
			//- 	li
			//- 		a(href="#") planta electrica uno










